html,body{
    height: 100%;
}
.container{
    border: solid 1px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* height: 100%; */
    /* flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; */
    /* align-items: center; */
    /* justify-content: center; */
}
.home{
    flex:10 1 200px;
    /* flex-grow: 0;
    flex-shrink: 5;
    flex-basis: 200px; */

}
.logout{
    flex:1 1 200px;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px; */
}
/* .logout{
    align-self: flex-start;
}
.home{
    align-self: flex-end;
} */
/* .home{
    margin-right: auto;
} */
/* .container > div{
    flex:1
} */
/* .container  > .search{
    flex:2;
} */
/* .home,.logout{
    flex: 1;
} */
.container > div{
    text-align: center;
    width: 300px;
    border: solid 1px;
    padding: 10px;
    color: white;
    background: lightgreen;
}